@model HungryCells.Models.Patient

@{
    ViewBag.Title = "Details";
}


    <div class="container">

        <div class="col-sm-8">      
                <h1 id="pageTitle">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
           </div>
        <div class="col-sm-4" id="editButton">
            @Html.ActionLink("Back to List", "Index", "Index", new { @class = "btn btn-default" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.PatientID }, new { @class = "btn btn-danger" })
        </div>
    </div>


    <hr />

    <div class="container">
        <div class="col-sm-4">
            <!--Patient Info -->
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Patient Information</div></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td>@Html.DisplayFor(model => model.FirstName)</td>
                        </tr>
                        <tr>
                            <td><strong>Last Name</strong></td>
                            <td>@Html.DisplayFor(model => model.LastName)</td>
                        </tr>
                        <tr>
                            <td><strong>UR</strong></td>
                            <td>@Html.DisplayFor(model => model.UR)</td>
                        </tr>
                        <tr>
                            <td><strong>DOB</strong></td>
                            <td>@Html.DisplayFor(model => model.BirthDate)</td>
                        </tr>
                        <tr>
                            <td><strong>DVA</strong></td>
                            <td>@Html.DisplayFor(model => model.DVA)</td>
                        </tr>
                    </table>

                </div>
            </div>

            <!--Referral Info -->
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Referral Information</div></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td><strong>Referral Date</strong></td>
                            <td>@Html.DisplayFor(model => model.ReferralDate)</td>
                        </tr>
                        <tr>
                            <td><strong>Referral Source</strong></td>
                            <td>@Html.DisplayFor(model => model.ReferralSource)</td>
                        </tr>
                    </table>

                </div>
            </div>

            <!--Procedure Info -->
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Procedure Details</div></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ProcedureDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                <div class="form-group">

                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.ProcedureDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProcedureDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Procedure, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Procedure, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Procedure, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ValveType, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.ValveType, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ValveType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
                
            </div>

            @Html.ActionLink("Delete Patient", "Delete", "Patients", new { id = Model.PatientID }, new { @class = "btn btn-default"})

        </div>


        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Investigations</div></div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 60%;">
                            60%
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Surgeon Review</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PBAV</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Echo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>RFTs</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Angio</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>CT TAVI</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Further test req</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Carotid</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dental clearance</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Prof Walters r/v</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-11">
            @Html.ActionLink("Follow Up", "Index", "Home", null, new { @class = "btn btn-default" })
        </div>
    </div>









