@model IEnumerable<HungryCells.Models.Patient>

@{
    ViewBag.Title = "Index";
}
<div class="container">

            <table class="table table-striped table-hover" id="mainTable">
                <div>
                    <caption class="page-header col-large-11" id="captionHeader">
                        
                        <div id="createButton">
                            @Html.ActionLink("New Patient", "Create", "Patients", new { @class = "btn btn-default" })
                            <div id="searchBar">
                                @using (Html.BeginForm())
                                {
                                    <form class="form-inline"></form>

                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                                @Html.TextBox("SearchString", "Last Name", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <button class="btn btn-secondary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                }
                            </div>
                        
                        </div>



                    </caption>
                </div>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.UR)</th>
                        <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Patients", new { id = item.PatientID }))'">
                        <td>@Html.DisplayFor(model => item.FirstName)</td>
                        <td>@Html.DisplayFor(model => item.LastName)</td>
                        <td>@Html.DisplayFor(model => item.UR)</td>
                        <td>@Html.DisplayFor(model => item.BirthDate)</td>
                        <td>@Html.DisplayFor(model => item.Status)</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.PatientID })</td>
                    </tr>
                }
            </table>


        </div>
